.div1 {
  width: 500px; // 200 + 24 + 300
  height: 250px;
  background-color: blue;
  padding: 12px;
}
.start{
  text-align: center;
}
.one{
  text-align: center;
  margin-bottom:15px;
  border-radius: 20px;
  width: 420px;
}
.two{
  text-align: center;
  border-radius: 20px;
  width: 420px;

}
button{
  width: 500px;
  text-align: center;
  background-color: red;
  color:white;
  margin-top:15px;
  border-radius: 20px;
}

