 <!-- <H1 style="background-color: blue;">{{text}}</H1>>
<h3 style="background-color: red; ">{{buttom}}</h3>


<app-nav></app-nav>
<app-roles2></app-roles2> -->
<!-- <div style="width: 500px; height: 500px; background-color: lightblue; position: relative;">
<button (click)="fff()" style="width: 70px;height: 30px; position: absolute; right: 0px; top:0px">重置</button>
<h1 style="text-align: center; color:red">{{testTitle}}</h1>
<p >等級:{{lev}}</p>

<button (click)="bbb()" style="width: 50px;height: 50px;">升級</button>
<button (click)="ggg()" style="width: 50px;height: 50px;">降級</button>

<br>
<br>

<p >攻擊力:{{boo}}</p>

<br>

<p >防禦力:{{cmm}}</p>

<p style="color: red;">註解:角色初始等級為1，初始攻擊/防禦為10，每提升一級攻擊*3防禦*2，降級則除3跟2</p>

<input type="text"[(ngModel)]="lev">



<button (click)="eee(lev)" style="width: 88px;height: 40px;">修改等級</button>


</div> -->
 <h1 style="color:red ;text-align: center;">Angular引用元件</h1>
 <app-nav></app-nav>
<app-roles2></app-roles2>